<div class="media">
  <iframe
    width="420"
    height="345"
    src="https://www.youtube.com/embed/rBLE_xu1rew?controls=0"
    class="mr-3"
    alt="..."
  ></iframe>
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    <p>
      Will you do the same for me? It's time to face the music I'm no longer
      your muse. Heard it's beautiful, be the judge and my girls gonna take a
      vote. I can feel a phoenix inside of me. Heaven is jealous of our love,
      angels are crying from up above. Yeah, you take me to utopia.
    </p>
  </div>
</div>
